{{ extend 'default/vista_estudiante.html' }}
{{ block contenido }}
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-2">
                  <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
              </div>
              <div class="col-sm-9" align="left">
                 <h4 style="color:#4682B4">SIGESC / <a href="{{=URL('home')}}">Home</a> / <a href="{{=URL('vista_estudiante')}}">Estudiante</a> / <b>Plan de Trabajo</b> </h4>
                 <h4 style="color:#4682B4">{{=msj}}</h4>

              </div>
            <div class="col-sm-1" align="right">
                <a href="#"  id="myBtn">
                    <spam style="color:#d80000" class="glyphicon glyphicon-log-out">Salir</spam>
                </a><br><br>
            </div>
          </div>
          <hr>
      </div>
      <div class="col-sm-12">

{{if estado=='aceptado':}}
<div class="col-md-10" style="margin-left: 6%;">
    <div class="alert alert-success col-sm-offset-1 text-center" role="alert">
      <a href="{{=URL('vista_estudiante')}}" class="alert-link">{{=mensaje}}</a>
    </div>
</div>
{{else:}}
<div class="col-md-10" style="margin-left: 6%;">
    <div class="alert alert-warning col-sm-offset-1 text-center" role="alert">
      <a href="{{=URL('vista_estudiante')}}" class="alert-link">{{=mensaje}}</a>
    </div>
</div>
{{pass}}
</div>

{{ end }}
