
 	

<div class="row">
  <!-- left column -->
  <div class="col-sm-5">
    <div class="text-center">
      <img src="{{=picture}}" style="width:200px;height:200px;overflow:hidden" class="avatar img-circle img-thumbnail">

      
    </div>
  </div>
  <!-- edit form column -->
  <div class="col-sm-7 personal-info">
    
    <form class="form-horizontal" role="form">
    {{include 'default/datos_perfil.html'}}
          
      <!-- <input class="form-control" value="janeuser" type="text"> -->
      
    </form>
  </div>
</div>

