


<div class="row">

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
        <label>Area:</label>
          {{=form.f_nombre}}
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-12">
        <div class="form-group">

          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <label>Codigo:</label>
              {{=form.f_codigo}}
          </div>


          <div class="col-sm-4">
            
            <label>Estado:</label>
              {{=form.f_estado}}
          </div>
          <div class="col-sm-2"></div>


        </div>
  </div>   
   </div>
  <div class="row">
    
    <div class="col-sm-12">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
        <label>Descripción:</label>
          {{=form.f_descripcion}}
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>

</div>
       
        


        