
<div class="container-fluid">
  
  <h4>Modificar Area de Proyectos</h4>

  <div id="target"></div>

  <form role="form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" value='{{=form.f_nombre}}' name="nombre" class="form-control" id="nombre-area" placeholder="Nombre">
    </div>

    <div class="form-group">
      <label for="codigo">Codigo:</label>
      <input type="text" value='{{=form.f_codigo}}' name="codigo" class="form-control" id="codigo-area" placeholder="Codigo">
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea type="textarea" name="descripcion" class="form-control" rows="2" id="descripcion-area" placeholder="Descripción">{{=form.f_descripcion}}</textarea>
    </div>

    <div class="form-group">
	  <label for="estado">Estado:</label>
	  <select class="form-control" value='{{=form.f_estado}}' name="estado" id="estado-area">
	    <option>Activo</option>
	    <option>Inactivo</option>
	  </select>
    </div>

    <a onclick="enviarArea('{{=form.id}}')"  class="btn btn-primary">Enviar</a>

  </form>
</div>

       
        


        