<div class="container-fluid">
  
  <h4>Modificar Proyectos</h4>

  <div id="target"></div>

  <form role="form">
    <div class="form-group">
      <label for="nombre"><strong>Nombre: </strong></label><p id="nombre-proyecto">{{=form.f_proyecto.f_nombre}}</p>
    </div>

    <div class="form-group">
      <label for="codigo">Codigo:</label>
      <input type="text" value='{{=form.f_codigo}}' name="codigo" class="form-control" id="codigo-proyecto" placeholder="Codigo">
    </div>

    <div class="form-group">
	  <label for="estado">Estado:</label>
	  <select class="form-control" value='{{=form.f_estado_proyecto}}' name="estado" id="estado-proyecto">
      {{if (form.f_estado_proyecto=="Activo"):}}
        <option selected="selected">Activo</option>
        <option>Inactivo</option>
      {{else:}}
        <option>Activo</option>
        <option selected="selected">Inactivo</option>
      {{pass}}
	  </select>
    </div>

    <a onclick="enviarProyecto('{{=form.id}}')"  class="btn btn-primary">Enviar</a>

  </form>
</div>