{{extend 'base2.html'}}

{{ block contenido }}
<div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">
                <img src="{{=URL('static', 'proponente.png')}}" class="img-responsive" width="150" height="110"/>
            </div>
            <div class="col-md-7" align="left">
                <h4 style="color:#4682B4"><a href="{{=URL('default', 'home')}}">Home</a> /<a href="{{=URL('default', 'roles_usuarios')}}">Roles de Usuarios</a> /<a href="{{=URL('default', 'agregar_rol')}}">Agregar roles a usuarios </a>/{{=nombreUsuario}}</h4>
            </div>
            <div class="col-md-3" align="right">
                <a href="{{=URL('default', 'logout')}}"> Salir <img src="{{=URL('static', 'img/salida_icon.png')}}"/></a>
            </div>
        </div>
        <hr>
</div>
<table class="table table-condensed" id="estuds">
                <thead>
                    <tr>
                        <th> Roles otorgados </i></th>
                        <th> Roles por otorgar</th>
                        <th align="right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{for relaciones in rolesUsuario:}}
                            
                            {{=db(db.auth_group.id==relaciones.group_id).select()[0].role}} </br>
                            
                            {{pass}}
                        </td>
                        <td>
                            {{for rls in roles:}}
                            
                            {{=rls.role}} <a href="{{=URL(r=request,f='insertar_rol',args=[idUsuario,rls.id])}}"><i class="glyphicon glyphicon-plus"></i></a></br>
                            
                            {{pass}}
                        </td>

                        <td>
                         
                        </td>
                    </tr>
              </tbody>
            </table>


{{ end contenido }}