<link href="{{=URL('static', 'css/jquery.dataTables.min.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{=URL('static', 'js/jquery.dataTables.min.js')}}"></script>

<script>
$(document).ready(function() {

  var idiomaEspañol={
      "sProcessing":     "Procesando...",
      "sLengthMenu":     "Mostrar _MENU_ registros",
      "sZeroRecords":    "No se encontraron resultados",
      "sEmptyTable":     "Ningún dato disponible en esta tabla",
      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix":    "",
      "sSearch":         "Buscar:",
      "sUrl":            "",
      "sInfoThousands":  ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
      },
      "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
  };

  // Iniciacion de tabla
  $('#estuds-areas-carreras').DataTable({
      "language": idiomaEspañol,
      "order": [[ 0, 'desc' ]],
      "columnDefs": [ {
        "targets"  : 'no-sort',
        "orderable": false,
      }]
  });

  jQuery('#nueva-area-carrera').on('click', function (e) {
    jQuery('#detalles-areas-carreras').empty();
    jQuery('#detalles-areas-carreras').html("<div class='miniloader'></div>");
    ajax('nueva_area_carrera', [], 'detalles-areas-carreras');
  });

});
</script>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6"><h2>Areas de Carreras</h2></div><div class="col-md-6" style="padding-top: 25px;"><a id="nueva-area-carrera" data-toggle="modal" data-target="#myModal2" class="enlace"> <i class="glyphicon glyphicon-plus"></i> Nueva Area de Carrera</a></div>

        <table class="table table-condensed" id="estuds-areas-carreras">
            <thead>
                <tr>
                    <th>Nombre</i></th>
                    <th align="right">Estado</th>
                    <th align="right" class="no-sort"></th>
                    <th align="right" class="no-sort"></th>

                </tr>
            </thead>
            <tbody>
                {{for area in areas_carreras:}}

                <tr id={{=area.id}}>
                    <td>
                        {{=area.f_nombre}}
                    </td>
                    <td>
                        {{=area.f_estado}} 
                    </td>
                    <td>
    <a class="enlace" onclick="editarAreaCarrera('{{=area.id}}')" data-toggle="modal" data-target="#myModal2"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                    <td>
    <a style="cursor:pointer" onclick="confirmarEliminarAreaCarrera('{{=area.id}}')"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>

                </tr>
                {{ pass }}
          </tbody>
        </table>
    </div>
</div>

<div class="row container">

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">

    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Areas de Carreras</h4>

        </div>
        <div class="modal-body">
          <div id="detalles-areas-carreras"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
