{{ extend 'base.html' }}
{{ block contenido }}
  <head>
  	<link rel="stylesheet" href="{{=URL('static', 'css/administrador.css')}}">
  	<script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/coordinador.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>   
  </head>
	<body class="row" >
	   <div class="col-sm-12">
	    	<div class="row">
		        <div class="col-md-2">
		            <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
		        </div>
		        <div class="col-md-6" align="left">
		           <h4 style="color:#4682B4">SIGESC / <a href=".">Home</a> / Coordinador </a> </h4>
		           <h4 style="color:#4682B4">{{=msj}}</h4>

		        </div>
		        <div class="col-md-4" align="right">
		            <a href="{{=URL('default', 'logout')}}"><spam class="glyphicon glyphicon-log-out">Salir</spam></a>
		        </div>
	    	</div>
	    	<hr>
		</div>

	   <div class="col-sm-12 principal">
	   		<div class="row">
		       	<div class="col-sm-3">
		       	<a id="menu-coord" class="enlace">
		           <h4 style="color:#337AB7"><span class="glyphicon glyphicon-briefcase"></span> Menú</h4>
		           </a>
		           <hr>
		             <ul class="nav nav-stacked">
		                 <li>
	                      	<a href="{{=URL('editar_perfil')}}">
	                           <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Ver Perfil</a>
	                      	<a id="fechas-tope-coord" class="enlace">
	                           <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Actualizar Fechas Tope
	                      	</a>
	                      	<a id="cuenta-correo-coord" class="enlace">
	                           <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Actualizar Cuenta de Envio de Correos
	                      	</a>

							<a id="retiros-coord" class="enlace">
							 	<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Gestionar Retiros de Estudiantes
							</a>
							<a id="culminaciones-coord" class="enlace">
								<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Gestionar Culminaciones de Estudiantes
							</a>
							<a id="inscripciones-coord" class="enlace">
								<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Gestionar Inscripciones de Estudiantes
							</a>
		                  </li>
		             </ul>
		             <hr>
		       	</div>
		       	<div id="vista-coord" class="col-sm-9">
		       	</div>
	       	</div>

	    </div>
	    <div class="col-sm-12">
	    	<hr>
	    </div>
	</body>
{{ pass }}
{{ end }}