{{ extend 'base.html' }}
{{ block contenido }}
       <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">
                <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
            </div>
            <div class="col-md-6" align="left">
               <h4 style="color:#4682B4">SIGESC /<a href="."> Home</a> /<a href="{{=URL('vista_estudiante')}}"> Estudiante </a> / Culminar Proyecto</h4>
               <h4 style="color:#4682B4">{{=bienvenida}}</h4>

            </div>
            <div class="col-md-4" align="right">
                <a href="{{=URL('default', 'logout')}}"> Salir <img src="{{=URL('static', 'img/salida_icon.png')}}"/></a>
            </div>
        </div>
        <hr>
    </div>

   <div class="col-sm-12">
       <div class="col-md-4">
           <h4 style="color:#337AB7"><i class="glyphicon glyphicon-briefcase"></i> Menú</h4>
            <hr>
             <ul class="nav nav-stacked">
                <li>
                                        <a href="{{=URL('editar_perfil')}}">
                           <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Editar Perfil</a>
                      <a href="{{=URL('propuestas')}}">
                           <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Proponer Proyecto</a>
                      {{if proyecto:}}
                          <a target="_blank" href="{{=URL('generarPdfConstanciaInicio',args=[estudiante.id,proyecto.id])}}">
                              <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Constancia de Inscripcion</a>
                          <a href="{{=URL('estado_estudiante')}}">
                             <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Estado de Inscripción</a>
                          {{if (proyecto.f_estado=='Aprobado') and (proyecto.f_valido=='Valido'):}}
                              <a target="_blank" href="{{=URL('generarPdfConstanciaInicio',args=[estudiante.id,proyecto.id])}}">
                                  <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Constancia de Inicio de Proyecto</a>
                             <a href="{{=URL('retirar_proyecto',args=[proyecto.id])}}">
                                 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Retirar</a>
                             <a href="{{=URL('culminar_proyecto',args=[proyecto.id])}}">
                                 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Culminar</a>
                          {{elif (proyecto.f_estado=='Retirado') and (proyecto.f_valido=='Valido'):}}
                              <a target="_blank" href="{{=URL('generarPdfConstanciaRetiro',args=[estudiante.id,proyecto.f_proyecto.id])}}">
                                 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Constancia de Retiro</a>
                          {{elif (proyecto.f_estado=='Culminado') and (proyecto.f_valido=='Valido'):}}
                              <a target="_blank" href="{{=URL('generarPdfConstanciaCulminacion',args=[estudiante.id,proyecto.f_proyecto.id])}}">
                                 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Constancia de Culminación</a>
                          {{else:}}
                              <a class="btn disabled" style="margin-left: -61px;" href="#">
                                  <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Constancia de Inicio de Proyecto</a>
                          {{pass}}
                      {{else:}}
                        <a href="{{=URL(r=request,f='estudianteInscribeProyectos',args=estudiante.id)}}">
                           <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Inscribir Proyectos</a>
                      {{pass}}
                 </li>
             </ul>
       </div>
        {{if globals().get('msj', False):}} <p><strong>{{=msj}}</strong></p>
        {{else:}}
        <div class="col-md-8">
          <div class="row" style="text-align: center;">
          
          {{if proyecto.f_estado=='Culminado':}}
            <div class="alert alert-info">
              <p>Usted ha culminado su servicio comunitario.</p>
            </div>
              <a href="{{=URL('generarPdfConstanciaCulminacion',args=[estudiante.id,proyecto.f_proyecto])}}">
              <button type="button" class="btn btn-primary">Imprimir constancia</button></a>
          {{elif proyecto.f_estado=='Retirado':}}
              <div class="alert alert-warning" >
                <p>Usted ha retirado su proyecto de servicio comunitario.</p>
              </div>
          {{elif 120>horas:}}
                <div class="alert alert-warning" >
                  <p>No puede culminar su servicio comunitario si no ha realizado las 120 horas correspondientes.</p>
                </div>
          {{else:}}
                  <div class="alert alert-warning" >
                    <p>El informe debe estar en formato pdf y no ser mayor a 2Mb</p>
                  </div>
                  <p>Subir informe final:</p>
                  <form action="#" enctype="multipart/form-data" method="post">
                    <div align="center">
                      <input class="upload" id="t_estudiante_f_informe" name="f_informe" type="file" />
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary" >Subir</button>
                    <input type="hidden" name="_formname" value="test" />
                  </form>

          {{ pass }}
          </div>
  </div>
  {{ pass }}

{{ end }}