<style type="text/css">
  .datos{
    margin-left: 0 px !important;
    float: left;
  }
  .value{
    display: inline-block;
  }
</style>

<div class="col-sm-4">
  <img src="{{=picture}}" style="width:130px;height:130px;text-align:center" class="avatar img-circle img-thumbnail">
</div>
<div class="col-sm-4">
  <div class="datos">
      <strong class="control-strong">Usuario:</strong>
      <span class="value">{{=form.username}}</span>
  </div> 
  <div class="datos">
      <strong class=" control-strong">Tipo:</strong>
      <span class="value">{{=form.f_tipo}}</span>
  </div> 
  <div class="datos">
    <strong class=" control-strong">Sexo:</strong>
    <span class="value">{{=form.f_sexo}}</span>
  </div> 
  <div class="datos" >
    <strong class="control-strong">Nombre completo:</strong>
    <span class="value">{{=form.first_name}} {{=form.last_name}}</span>
  </div>

  {{if form.f_cedula:}}
  <div class="datos" >
    <strong class="control-strong">Cédula:</strong>
    <span class="value">{{=form.f_cedula}}</span>
  </div>
  {{pass}}

  <div class="datos" >
    <strong class=" control-strong">Teléfono:</strong>
    <span class="value">{{=form.f_telefono}}</span>
  </div>

  <div class="datos">
    <strong class="control-strong">Email:</strong>
    <span class="value">{{=form.email}}</span>
  </div>

</div>
<div class="col-sm-4"> 
  <div class="datos" >
    <strong class=" control-strong">Estado:</strong>
    <span class="value">{{=form.f_estado.f_nombre}}</span>
  </div>

  <div class="datos" >
    <strong class=" control-strong">Dirección:</strong>
    <span class="value">{{=form.f_direccion}}</span>
  </div>

  {{if form.f_tipo == "Docente":}}
  <div class="datos" >
    <strong class="control-strong">Sede:</strong>
    <span class="value">{{=sede}}</span>
  </div>
  <div class="datos" >
    <strong class=" control-strong">Departamento:</strong>
    <span class="value">{{=dpto}}</span>
  </div>
  {{pass}}

  {{if form.f_tipo in ["Postgrado","Pregrado"]:}}
  <div class="datos" >
      <strong class=" control-strong">Sede:</strong>
      <span class="value">{{=sede}}</span>
  </div>

  <div class="datos" >
      <strong class=" control-strong">Carrera:</strong>
      <span class="value">{{=carrera.f_nombre}}</span>
  </div>
  {{pass}}

</div>