<head>
	<script type="text/javascript">

	$(document).ready(function(){
		$('#btn-prueba').on('click', function(){
			$(location).attr('href','{{=URL(r=request,f='enviarPlanTrabajo',args=[idProyecto,estudianteID])}}');
		});
	  }
	);
	</script>
</head>
{{ extend 'base.html' }}
{{ block contenido }}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">
                <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
            </div>
            <div class="col-md-6" align="left" style="color:#4682B4">
               <h4 >SIGESC / <a href=".">Home</a> / <a href="{{=URL('proyectos_tutor_academico')}}">Proyectos</a> / Plan de trabajo</h4>
               <h4 >{{=bienvenida}}</h4>
            </div>
            <div class="col-md-4" align="right">
                <a href="{{=URL('default', 'logout')}}"><spam class="glyphicon glyphicon-log-out">Salir</spam></a>
            </div>
        </div>
        <hr>
    </div>

<div class="col-md-10" style="margin-left: 6%;">
	<h2 class="detalles"><b>{{=mensaje}}</b></h2>
</div>
{{ end }}
