
<div class="container-fluid">
  
  <h4>Comunidades</h4>

  <div id="target"></div>

  <form role="form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" class="form-control" id="nombre-comunidad" placeholder="Nombre">
    </div>

    <div class="form-group">
	  <label for="estado">Estado:</label>
	  <select class="form-control" name="estado" id="estado-comunidad">
	    <option>Activo</option>
	    <option>Inactivo</option>
	  </select>
    </div>

    <a onclick="nuevaComunidad()" class="btn btn-primary">Enviar</a>

  </form>
</div>