{{ extend 'base.html'}}
{{ block contenido }}

  <style type="text/css">
    /*RUPDEV*/

form{
  margin:5px;
}
.w2p_fw ,.w2p_fl{
    padding: 3.5px;
}

  </style>
    

  <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">
                <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
            </div>
            <div class="col-md-6" align="left">
               <h4 style="color:#4682B4">SIGESC / <a href=".">Home</a> / Perfil </a> </h4>

            </div>
            <div class="col-md-4" align="right">
                <a href="{{=URL('default', 'logout')}}"><spam class="glyphicon glyphicon-log-out">Salir</spam></a>

            </div>
        </div>
                <hr>
  <div class="row">
    <!-- left column -->

    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <div class="text-center">
        <img src="{{=picture}}" style="width:200px;height:200px;overflow:hidden" class="avatar img-circle img-thumbnail">

        
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-6  personal-info">
    <h3>Información personal</h3>
      
      <form class="form-horizontal" role="form">
      {{include 'default/datos_perfil.html'}}
            
        <!-- <input class="form-control" value="janeuser" type="text"> -->
        

        <div class="form-group">
          {{if request.args(0) != 'search':}}
            <a class="btn btn-primary" href="{{=URL('editar_perfil')}}">
                Editar 
            </a>
          {{pass}}
            <span></span>
            
            <a class="btn btn-default" href="{{=URL('home')}}"> 
                Regresar
            </a>
        </div>
      </form>
    </div>
  </div>

        <div class="col-sm-12">
        <hr>
      </div>
</div>
    
{{ end }}