{{ extend 'base.html' }}
{{ include 'web2py_ajax.html' }}
{{ block contenido }}

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
            </div>
            <div class="col-sm-9" align="left">
               <h4 style="color:#4682B4">SIGESC / <a href=".">Home</a> /<a href="{{=URL('proyectos_tutor_academico')}}"> Tutor Académico </a> / <b>{{=proyecto.f_nombre}}</b></h4>
               <h4 style="color:#4682B4">{{=bienvenida}}</h4>
            </div>
            <div class="col-sm-1" align="right">
                <a href="#"  id="myBtn">
                    <spam style="color:#d80000" class="glyphicon glyphicon-log-out">Salir</spam>
                </a><br><br>
            </div>
        </div>
        <hr>
    </div>

  <div class="col-sm-12">
         <div class="col-xs-4">
           <h4 style="color:#337AB7"><i class="glyphicon glyphicon-briefcase"></i> Menú</h4>
            <hr>
             <ul class="nav nav-stacked">
                <li><a href="{{=URL('editar_perfil')}}">
                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Ver perfil
                    </a>
                </li>
                <li><a href="{{=URL('propuestas')}}">
                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Propuestas
                    </a>
                </li>
                <li><a href="{{=URL('solicitudes_tutor')}}">
                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Solicitudes de Planes de trabajo
                    </a>
                </li>
             </ul>
       </div>
        <div class="col-xs-8" >
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading class=detalles">
                        <span class="back glyphicon glyphicon-chevron-left" ></span>
                        <b><h class="detalles" >
                          Estudiantes 
                       </h></b>
                    </div>
                      <div class="panel-body">
                        {{if estudiantes: }}

                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Carnet</th>
                              <th>Correo</th>
                            </tr>
                          </thead>
                          {{for estudiante in estudiantes:}}
                            <tr>
                                <td>{{=estudiante.t_estudiante.f_universitario.f_usuario.first_name}}</td>
                                <td>{{=estudiante.t_estudiante.f_universitario.f_usuario.last_name}}</td>
                                <td>{{=estudiante.t_estudiante.f_universitario.f_usbid}}</td>
                                <td>{{=estudiante.t_estudiante.f_universitario.f_usuario.email}}</td>
                            </tr>
                          {{pass}}
                        </table>
                        {{else:}}
                          <br><div class="alert alert-info"> No hay estudiantes.</div>
                        {{pass}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading class=detalles">
                       <b><h class="detalles" >{{=proyecto.f_nombre}}</h></b>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr><td><b>Resumen:</b> {{=proyecto.f_resumen}}</td></tr>
                            <tr><td><b>Área:</b> {{=proyecto.f_area.f_nombre}}</td></tr>
                            <tr><td><b>Objetivos generales:</b> {{=proyecto.f_obj_generales}}</td></tr>
                            <tr><td><b>Antecedentes:</b> {{=proyecto.f_antecedentes}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12">
          <hr>
        </div>
    </div>

  {{ pass }}