{{ extend 'base.html' }}
{{ block contenido }}
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-2">
                  <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
              </div>
              <div class="col-sm-9" align="left">
                 <h4 style="color:#4682B4">SIGESC / <a href="{{=URL('home')}}">Home</a> / <a href="{{=URL('solicitudes_tutor')}}">Solicitudes de planes de trabajo</a> / <b> Rechazar Estudiante</b></h4>
                 <h4 style="color:#4682B4">{{=msj}}</h4>

              </div>
            <div class="col-sm-1" align="right">
                <a href="#"  id="myBtn">
                    <spam style="color:#d80000" class="glyphicon glyphicon-log-out">Salir</spam>
                </a><br><br>
            </div>
          </div>
          <hr>
      </div>

<div class="col-md-10" style="margin-left: 6%;">
	<table class="table table-condensed text-center" id="estuds">
        <thead>
            <tr>
                <th class="text-center">Nombre</i></th>
                <th class="text-center">Carné</th>
                <th class="text-center">Proyecto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
				<td>
					{{=estudiante.f_universitario.f_usuario.first_name}} {{=estudiante.f_universitario.f_usuario.last_name}}
				</td>
				<td>
					{{=estudiante.f_universitario.f_usbid}}
				</td>
				<td>
					{{=proyecto.f_nombre}}
				</td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" role="alert">
      <b>¿Está seguro de rechazar ésta solicutd?</b>
      </br>
      </br>
	  <button type="button" onclick="location.href='{{=URL(r=request,f='eliminar_inscripcion',args=[proyecto.id,estudiante.id])}}'" align="left" class="btn btn-success btn-default">SI</button>
	  <button type="button" onclick="location.href='{{=URL('solicitudes_tutor')}}'" align="right" class="btn btn-danger btn-default">No</button>
    </div>
</div>

{{ end }}
