{{ extend 'base.html'}}
{{ block contenido }}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="row">
                <h1>Registro</h1>
                <button class="btn btn-primary">
                    <a style="color:white" href="{{=URL('registro_persona_natural')}}">Persona Natural</a>
                </button>
                ó
                <button class="btn btn-primary"> 
                    <a style="color:white" href="{{=URL('registro_persona_juridica')}}"> Persona Juridica</a>
                </button>
                
            </div>
        </div>
    </div>
</div>
    
{{ end }}