{{ extend 'base.html'}}
{{ block contenido }}

<script type="text/javascript">
    jQuery(document).ready(function(){

        var errorClave="*La clave debe tener al menos 8 carcacteres entre los cuales una mayúscula, una minúscula, un dígito y uno de los siguientes caracteres especiales: (@.#$-_+*)."

        var errorUsuario="*El usuario debe tener al menos 4 caracteres, comenzar con una letra minuscula o mayuscula. </br>Puede poseer numeros y los siguientes caracteres especiales: (@.#$-_+*).";

        var debeTener=/^[a-z0-9A-Z@.\-_#$+*]+$/;
        var letrasMinusculas=/[a-z]/;
        var numeros=/[0-9]/;
        var letrasMayusculas=/[A-Z]/
        var caracteresEspeciales=/[@.#\-_$+*]/;

        var acceptPassword=function(clave){

            if ((clave.match(debeTener)!==null) && (clave.search(numeros)!==-1) 
              && (clave.search(letrasMayusculas)!==-1) && (clave.search(letrasMinusculas)!==-1) 
              && (clave.search(caracteresEspeciales)!==-1) && (clave.length>=8)){
              return true;
            }else{
              return false;
            }

        };

        jQuery("#enviar-datos-persona-natural").on('click', function (e) {
             
            if (acceptPassword(jQuery("#clave input").val())
                || (jQuery("#clave input").val()==="")){
                jQuery("#errorClave").empty();
                var inputUser=jQuery("#user input").val();

                var OKuser = inputUser.length >=4 && inputUser.match(debeTener)!=null && ((inputUser.search(letrasMinusculas)==0) || (inputUser.search(letrasMayusculas)==0)); 

                if ((OKuser) || (inputUser==="")){
                    jQuery("form").submit();
                }else{
                    jQuery('#erroFormUser').html(errorUsuario);  
                }

            }else{
                jQuery("#errorClave").html(errorClave);   
            }

        });

    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <h1>Registro</h1>
                    <h3>Persona Natural</h3>
                     {{=form.custom.begin}}
                        <div class="form-group">
                            <div class="col-md-6">  
                              <label class="control-label" for="nombre">Nombre:</label>
                              {{=form.custom.widget.first_name}}
                            </div>
                            <div class="col-md-6">
                              <label for="nombre">Apellido:</label>
                              {{=form.custom.widget.last_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"> 
                              <label for="nombre">Correo:</label>
                              {{=form.custom.widget.email}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="user" class="col-md-12">
                                <label for="nombre">Usuario:</label>
                                {{=form.custom.widget.username}}
                                <span id="erroFormUser"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="clave" class="col-md-12">
                                <label for="codigo">Contraseña:</label>
                                {{=form.custom.widget.password}}
                                <span id="errorClave"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="codigo">Confirmar contraseña:</label>
                                {{=form.custom.widget.password_two}}
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="codigo">Estado:</label>
                                {{=form.custom.widget.f_estado}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="codigo">Dirección:</label>
                                {{=form.custom.widget.f_direccion}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="codigo">Cedula:</label>
                                {{=form.custom.widget.f_cedula}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="codigo">Telefono:</label>
                                {{=form.custom.widget.f_telefono}}
                            </div>
                        </div>        
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="codigo">Sexo:</label>
                                {{=form.custom.widget.f_sexo}}
                            </div>
                        </div>                                                      
                    <div class="col-md-12" style="margin-top: 2%;">               
                        <input id="enviar-datos-persona-natural" value="Abrir Cuenta" class="btn btn-primary">
                    </div>
                    {{=form.custom.end}}
                </div>
                <div class="col-md-3">
                   
                </div>
            </div>
        </div>
    </div>
</div>

    
{{ end }}