{{ extend 'base.html' }}
{{ block contenido }}
<h4 style="color:#4682B4"> <a href="{{=URL('home')}}">Home</a> / Proyectos Registrados / Solicitudes</h4>
<h4 style="color:#4682B4">{{=bienvenida}}</h4>
<div class="col-md-1 botones">
	<button type="button" onclick="location.href='{{=URL('home')}}'" align="left" class="btn btn-lg0 btn-default perfil">
		<h class="tittle-accion">Volver</h>
	</button>
</div>

<div class="col-md-10" style="margin-left: 6%;">
	<h2 class="detalles"><b>Solicitudes pendientes</b></h2>
	<table class="table table-condensed text-center" id="estuds">
        <thead>
            <tr>
                <th class="text-center">Nombre</i></th>
                <th class="text-center">Carné</th>
                <th class="text-center">Proyecto</th>
				<th class="text-center">Trimestre</th>
                <th class="text-center">Plan de Trabajo</th>
				<th class="text-center">Rechazar</th>
            </tr>
        </thead>
        <tbody>
			{{ for ins in listaInscripcion: }}
                {{ if ins.f_estado == 'Pendiente':}}
                    <tr>
                        <td>
                            {{=ins.f_estudiante.f_universitario.f_usuario.first_name}} {{=ins.f_estudiante.f_universitario.f_usuario.last_name}}
                        </td>
                        <td>
                            {{=ins.f_estudiante.f_universitario.f_usbid}}
                        </td>
                        <td>
                            <a href="{{=URL(r=request,f='proyectosDetalles',args=ins.f_proyecto.id)}}">{{=ins.f_proyecto.f_nombre}}</a>
                        </td>
                        <td>
                            {{ if 1 <= ins.created_on.month <= 3:}}
                                Abril-Julio {{=ins.created_on.year}}
                            {{ elif 4 <= ins.created_on.month <= 8:}}
                                Septiembre-Diciembre {{=ins.created_on.year}}
                            {{ else:}}
                                Enero-Marzo {{=ins.created_on.year+1}}
                            {{ pass }}
                        </td>
                        {{ if ins in enviados:}}
                            <td class="text-center">
                                <i>Enviado</i>
                            </td>
                        {{ else: }}
                            <td class="text-center">
                                <a href="{{=URL(r=request,f='solicitud_plan_de_trabajo',args=[ins.f_proyecto.id,ins.f_estudiante.id])}}">Crear Plan</a>
                            </td>
                        {{ pass }}
                        <td class="text-center">
                            <a href="{{=URL(r=request,f='rechazar_solicitud_tutor',args=[ins.f_proyecto.id,ins.f_estudiante.id])}}"><i class="glyphicon glyphicon-remove text-center"></i></a>
                        </td>
                    </tr>
                {{ pass }}
            {{ pass }}

        </tbody>
    </table>
</div>
{{ end }}
