{% extends "base.html" %}

{% block contenido %}

	<div align="center">
		<div class="col-md-2"><a href="../">Inicio</a></div>
		<div class="col-md-2"><a href="{% url 'estudiante' %}">Estudiantes</a></div>
		<div class="col-md-2"><a href="{% url 'tutor' %}">Tutores</a></div>
		<div class="col-md-2"><a href="{% url 'proyecto' %}">Proyectos</a></div>
		<div class="col-md-2"><a href="{% url 'proponente' %}">Proponentes</a></div>
		<div class="col-md-2"><a href="#">Iniciar Sesion</a></div>	
	</div>
	
	
	<div class="col-md-6" style="text-align: left; margin-top: 44px; width: 50%">
		<table>
		<h3> Detalles del Tutor: </h3>
	    Nombre: {{ tutor.nombre }} {{tutor.apellido }} </br>
	    Carnet: {{tutor.USBID}} </br>
	    Cédula: {{tutor.cedula}} </br>
	    Sede: {{tutor.carrera}} </br>
	    Email: {{tutor.email}}</br>
	    Telefono: {{tutor.telefono}}</br>
	    Direccion: {{tutor.direccion}}</br></br>
	    
		<form enctype="multipart/form-data" method="post" action="">
		{% csrf_token %}
		<input type="submit" value="Eliminar Tutor"/>
		</table>
	</div>
{% endblock %}