<link href="{{=URL('static', 'css/jquery.dataTables.min.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/jquery.dataTables.min.js')}}"></script>

<script type="text/javascript">
  $(document).ready(function() {

    var idiomaEspañol={
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    };

    // Iniciacion de tablas
    $('#estuds').DataTable({
      "language": idiomaEspañol,
      "order": [[ 2, 'asc' ]],
      "columnDefs": [ {
        "targets"  : 'no-sort',
        "orderable": false,
      }]
  });


} );  
</script>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed" id="estuds">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Area</th>
                    <th>Sedes</th>
                    <th>Estado</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                {{for proyecto in proyectos:}}

                <tr>
                    <td>
                        {{=proyecto.f_codigo}}
                    </td>
                    <td>          
                	{{if auth.is_logged_in():}}
                		
              			{{if (estudianteId!=None):}}
                            {{if (proyecto.f_estado_proyecto=="Activo"):}}
     <a href="{{=URL('estudianteCursa',args=[proyecto.f_proyecto.id,estudianteId])}}">{{=proyecto.f_proyecto.f_nombre}}</a>
                            {{else:}}
                                {{=proyecto.f_proyecto.f_nombre}}
                            {{pass}}
                		{{else:}}
                			{{=proyecto.f_proyecto.f_nombre}}
                		{{pass}}

                	{{else:}}
                		{{=proyecto.f_proyecto.f_nombre}} 
                	{{pass}}
                    		
                    	
                    </td>
                    <td>
                    	{{=proyecto.f_proyecto.f_area.f_nombre}}     
                    </td>
                    <td>
{{for sede in db(db.t_proyecto_sede.f_proyecto==proyecto.f_proyecto).select():}}
						{{=sede.f_sede.f_nombre}} </br>

                        {{pass}}
                    </td>
                    <td>
                    	{{=proyecto.f_estado_proyecto}}
                    </td>
                    <td>
                        {{if (proyecto.f_estado_proyecto=="Activo"):}}
                    	<a class="enlace" href="{{=URL('verProyectoEstudiante',args=[proyecto.f_proyecto.id,estudianteId])}}">
                        {{else:}}
                        <a class="enlace">
                        {{pass}}
                    		<i class="glyphicon glyphicon-search"></i>
                        
                    	</a>
                    </td>
                </tr>
                {{pass}}
          </tbody>
        </table>
    </div>
</div>

