{{ extend 'base2.html' }}
{{ block contenido }}


    <!-- Contenido -->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">
                <img src="{{=URL('static', 'estudiantes.png')}}" class="img-responsive" width="150" height="110"/>
            </div>
            <div class="col-md-4" align="left">
                <h4 style="color:#4682B4"><a href=".">Home</a> /<a href="{{=URL('vista_admin')}}"> Admin </a> / <a href="#">Estudiantes </a> </h4>
            </div>
            <div class="col-md-6" align="right">
                <a href=".">Salida <img src="{{=URL('static', 'img/salida_icon.png')}}"/></a>
            </div>
        </div>
        <hr>
    </div>


    <div class="col-sm-12">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-condensed" id="estuds">
                <thead>
                    <tr>
                        <th> Estudiantes registrados</i></th>
                        <th align="right"></th>
                        <th align="right"></th>
                        <th align="right"></th>
                        <th align="right"></th>
                    </tr>
                </thead>
                <tbody>
                    {{ for estudiante in est:}}
                    <tr>
                        <td>
                            <a href="{{=URL(r=request,f='estudiante_detalles',args=estudiante.id)}}">{{=estudiante.f_usbid}}</a>
                        </td>
                        <td>
                            {{=estudiante.f_nombres}}
                        </td>
                        <td>
                            {{=estudiante.f_apellidos}}
                        </td>
                        <td>
                         <a href="{{=URL(r=request,f='estudiante_detalles',args=estudiante.id)}}"><i class="glyphicon glyphicon-search"></i></a>
                        </td>
                        <td>
                        <a href="{{=URL(r=request,f='estudiante_editar',args=estudiante.id)}}"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                    </tr>
                    {{ pass }}
            <div class="alert alert-success" id="exito" style="display:none; height:45px">
                <b>Registro exitoso.</b> El estudiante se ha agregado a la base de datos </div>
              </tbody>
            </table>
        </div>
    
        <div class="col-md-5">
              <a href="{{=URL('default','estudiante_registar')}}">
                <button class="btn btn-success" style="width: 240px;"  align="right">
                 <i class="glyphicon glyphicon-plus-sign"></i> <b>Registrar un nuevo estudiante</b>
                </button>
              </a>
            <button class="btn btn-warning" id="up" style="width: 100px; display:none" onclick="ocultar_form()">
                 </i> <b>Ocultar </b><i class="glyphicon glyphicon-chevron-up"></i>
            </button><br>
      <div class="alert alert-danger" id="fail" style="display:none; height:45px">
                <b>Registro fallido.</b> El formulario contiene errores </div>
                   <!-- 
            <div class="form formulario" id="formulario" style="display:none" osubmit="control_form()">
                {{=form.custom.begin}}
                <div class="table">
                        <td><tr><b> USBID </b> <h class="help"> ej xx-11111</h><div class="campos">{{=form.custom.widget.f_usbid}} </tr></td></div>
                        <td><tr><b> Nombre </b><div class="campos">{{=form.custom.widget.f_nombre}} </tr></td></div>
                        <td><tr><b> Apellido </b><div class="campos">{{=form.custom.widget.f_apellido}}</tr></td></div>
                        <td><tr><b> Cédula </b> <h class="help"> ej 12345678</h><div class="campos">{{=form.custom.widget.f_cedula}}</tr></td></div>
                        <td><tr><b> Carrera </b>{{=form.custom.widget.f_carrera}}</td></tr><br><br>
                        <tr><td><b> Sede </b>{{=form.custom.widget.f_sede}}</tr></td><br><br>
                        <tr><td><b> E-mail </b><h class="help"> ej micorreo@xmail.com</h><div class="campos">{{=form.custom.widget.f_email}}
                        </tr></td></div>
                        <tr><td><b> Sexo </b>{{=form.custom.widget.f_sexo}} </tr></td><br><br>
                        <tr><td><b> Teléfono </b><h class="help"> ej 01233333333</h><div class="campos">{{=form.custom.widget.f_telefono}}</tr></td></div>
                        <tr><td><b> Dirección </b>{{=form.custom.widget.f_direccion}}</tr></td>
                        <tr><td><b> Estado </b>{{=form.custom.widget.f_estado}}</tr></td> 

                        <input class="btn btn-primary" name="guardar" type="submit" style="width:200px" value="Registrar"/>
                    {{=form.custom.end}}
            </div>
                </div> cerrando tabla
                        
      </div>
      <input type="text" id="mensaje" value="{{=message}}" style="display:none">
                --> 

{{ end }}
