<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta https-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta https-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIGESC</title>

	<!-- Compiled and minified CSS -->
	<link href="{{=URL('static', 'css/bootstrap.css')}}" rel="stylesheet" />
	<!-- Optional theme -->
	<link href="{{=URL('static', 'css/bootstrap-theme.min.css')}}" rel="stylesheet" />
	<link href="{{=URL('static', 'css/theme.css')}}" rel="stylesheet">
	<link href="{{=URL('static', 'css/Pag_principal.css')}}" rel="stylesheet">
	<link href="{{=URL('static', 'css/miestilo.css')}}" rel="stylesheet">


	<link rel="shortcut icon" href="http://www.usb.ve/favicon.ico" />

	<!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/bootstrap.js')}}"></script>

    <script type="text/javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/web2py_bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/miscript.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/salida.js')}}"></script>
	<script src="{{=URL('static', 'js/jssor.slider-21.1.6.min.js')}}" type="text/javascript"></script>


    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.svg')}}" rel="stylesheet"/>
    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.eot')}}" rel="stylesheet" />

    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.ttf')}}" rel="stylesheet" />
    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.woff')}}" rel="stylesheet" />
    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.woff2')}}" rel="stylesheet" />

</head>
<div id="myModal" class="modal2">

  <!-- Modal content -->
  <div class="modal2-content">
    <div class="modal2-header">
      <span class="close">X</span>
      <h4 align="center" font="color:white">Aviso</h4>
    </div>
    <div align="center" class="modal2-body">
      <h4 >¿Estás seguro que deseas salir?</h4><hr>
      <div class="row" style="margin-bottom: 10px">
      <div class="col-md-6">
       <button onclick="cierra_modal()" class="btn btn-primary" style="width: 150px; height:30px">
       	Cancelar
       </button>
       </div>
       <div class="col-md-6">
       <a href="{{=URL('default', 'logout')}}">
       <button onclick="cierra_modal()" class="btn btn-primary" style="width: 150px; height:30px">
       	Aceptar
       </button></a>
       </div>
      </div>
    </div>
  </div>

</div>
<body>

	<header>
		<div align="center">
				<img src="{{=URL('static', 'img/top.png')}}" class="img-responsive" alt="top" width="75%">
			</a>
		</div>
		<div class="container" style="width: 75%;">
			<nav class="navbar navbar-inverse" style="border-color:#3498DB;">
			  <div class="container-fluid" style="background-color:#3498DB;">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:#fff;">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand"  href="."><span class="glyphicon glyphicon-home"></span></a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      	<ul class="nav navbar-nav">
				    {{if rolesUsuario:}}
				    	{{if db.auth_user(auth.user_id).f_confirmado:}}
				    		<li><a href="{{=URL('editar_perfil')}}"> Ver perfil</a></li>
				        	<li><a href="{{=URL('propuestas')}}"> Propuestas</a></li>
						  	{{if "Estudiante" in rolesUsuario:}}
						    	<li><a href="{{=URL('vista_estudiante')}}">Estudiante</a></li>
						  	{{pass}}
						  	
							{{if "Coordinador" in rolesUsuario:}}
							    <li><a href="{{=URL('coordinador')}}">Coordinador</a></li>
							{{pass}}

							{{if "Administrador" in rolesUsuario:}}
							    <li><a href="{{=URL('administrador')}}">Administrador</a></li>
							{{pass}}

							{{if "Tutor Academico" in rolesUsuario:}}
								<li><a href="{{=URL('proyectos_tutor_academico')}}">Tutor Academico</a></li>
								<li><a href="{{=URL('solicitudes_tutor')}}">Planes de Trabajo</a></li>
							{{pass}}

							{{if "Tutor Comunitario" in rolesUsuario:}}
							      <li><a href="{{=URL('proyectos_tutor_comunitario')}}">Tutor Comunitario</a></li>
							{{pass}}

							{{if (("Coordinador" in rolesUsuario)or("Administrador" in rolesUsuario)):}}
							      <li><a href="{{=URL('reportes')}}">Reportes</a></li>
							{{pass}}

				        {{pass}}
				    {{else:}}
				        <li><a href="#">¿Quiénes somos?</a></li>
				        <li><a href="#">Formatos SC</a></li>
				        <li><a href="#">Reglamentos SC</a></li>
				        <li><a href="#">Decanato de extensión</a></li>
				        <li><a href="#">Proyectos</a></li>
				    {{pass}}
			    	</ul>
			    </div>
			  </div>
			</nav>
		</div>
	</header>

	<div class="container" style="width: 75%;">

		{{ block contenido }}
		{{ end }}
	</div>


<footer style="margin-top: 5%">

<div class="row" align="">
	<div class="col-md-12">
		
		<table align="center" border="0" cellpadding="1" cellspacing="1"><tbody><tr><td valign="bottom" width="95">

		<a href="https://www.usb.ve"><img alt="" src="{{=URL('static', 'cebolla.jpg')}}"></a></td>

		<td valign="bottom">
		<a href="https://www.usb.ve/estudios/calendario.html" target="_blank">Calendario </a>|<a href="https://www.usb.ve/telefonico/telefonico.php?tipo=personal" target="_blank"> Directorio USB </a>|<a href="https://asignaturas.usb.ve/" target="_blank"> Aula Virtual USB</a> |<a href="https://webmail.usb.ve/" target="_blank"> Webmail</a>|<a href="https://www.usb.ve/buscador.php" target="_blank"> Buscador</a><br>
		Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Telefono +58 0212-9063111.</td>
		</tr></tbody></table><p>
		&nbsp;</p>
	</div>
</div>
</footer>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function iluminar(elem) {
  document.getElementById(elem).style.opacity = 1;
}
function apagar(elem) {
  document.getElementById(elem).style.opacity = 0.5;
}
</script>
</body>
