<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta https-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta https-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CFCG</title>

	<!-- Compiled and minified CSS -->
	<link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet" />
	<!-- Optional theme -->
	<link href="{{=URL('static', 'css/bootstrap-theme.min.css')}}" rel="stylesheet" />
	<link href="{{=URL('static', 'css/theme.css')}}" rel="stylesheet">

	<!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/bootstrap.js')}}"></script>

    <script type="text/javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/web2py_bootstrap.js')}}"></script>


    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.svg')}}" rel="stylesheet"/>
    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.eot')}}" rel="stylesheet" />

    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.ttf')}}" rel="stylesheet" />
    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.woff')}}" rel="stylesheet" />
    <link href="{{=URL('static', 'fonts/glyphicons-halflings-regular.woff2')}}" rel="stylesheet" />

</head>
<body>
	<header>
		<div align="center">
				<img src="{{=URL('static', 'img/top.png')}}" class="img-responsive" alt="top" width="73%">
			</a>
		</div>
		<div class="container" style="width: 75%;">
			<nav class="navbar navbar-inverse" style="border-color:#3498DB;">
			  <div class="container-fluid" style="background-color:#3498DB;">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:#fff;">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      {{if auth.has_membership('Estudiantes'):}}
			      <a class="navbar-brand" href="{{=URL('vista_estudiante')}}"><span class="glyphicon glyphicon-home"></span></a>
			      {{elif auth.has_membership('Proponentes'):}}
			      <a class="navbar-brand" href="{{=URL('vista_proponente')}}"><span class="glyphicon glyphicon-home"></span></a>
			      {{else:}}
			      <a class="navbar-brand" href="{{=URL('')}}"><span class="glyphicon glyphicon-home"></span></a>
			      {{pass}}
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li><a href="#">¿Quiénes somos?</a></li>
			        <li><a href="#">Formatos SC</a></li>
			        <li><a href="#">Reglamentos SC</a></li>
			        <li><a href="#">Decanato de extensión</a></li>
			        <li><a href="#">Proyectos</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
	</header>

	<div class="container" style="width: 75%;">
		{{ block contenido }}
		{{ end }}
	</div>


<footer style="margin-top: 5%">
<div align="">
	<div>
		<div>
			<div>
				<table align="center" border="0" cellpadding="1" cellspacing="1"><tbody><tr><td valign="bottom" width="95">

				<a href="https://www.usb.ve"><img alt="" src="{{=URL('static', 'cebolla.jpg')}}"></a></td>

				<td valign="bottom">
				<a href="https://www.usb.ve/estudios/calendario.html" target="_blank">Calendario </a>|<a href="https://www.usb.ve/telefonico/telefonico.php?tipo=personal" target="_blank"> Directorio USB </a>|<a href="https://asignaturas.usb.ve/" target="_blank"> Aula Virtual USB</a> |<a href="https://webmail.usb.ve/" target="_blank"> Webmail</a>|<a href="https://www.usb.ve/buscador.php" target="_blank"> Buscador</a> |<br>
				Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Telefono +58 0212-9063111<br>
				Disenada y desarrollada por la Direccion de Servicios Multimedia <a href="mailto:webmaster@usb.ve">webmaster@usb.ve</a></td>
				</tr></tbody></table><p>
				&nbsp;</p>
			</div>
		</div>
	</div>
</div>
</footer>
</body>
