 /* jssor slider arrow navigator skin 02 css */
    /*
    .jssora02l                  (normal)
    .jssora02r                  (normal)
    .jssora02l:hover            (normal mouseover)
    .jssora02r:hover            (normal mouseover)
    .jssora02l.jssora02ldn      (mousedown)
    .jssora02r.jssora02rdn      (mousedown)
    .jssora02l.jssora02lds      (disabled)
    .jssora02r.jssora02rds      (disabled)
    */
    .jssora02l, .jssora02r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: transparent;
        overflow: hidden;
    }
    .jssora02l { background-position: -3px -33px; }
    .jssora02r { background-position: -63px -33px; }
    .jssora02l:hover { background-position: -123px -33px; }
    .jssora02r:hover { background-position: -183px -33px; }
    .jssora02l.jssora02ldn { background-position: -3px -33px; }
    .jssora02r.jssora02rdn { background-position: -63px -33px; }
    .jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
    .jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
    /* jssor slider thumbnail navigator skin 11 css *//*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/
    .jssort11 .p {    
        position: absolute;    
        top: 0;    
        left: 0;    
        width: 200px;    
        height: 69px;    
        background: #003399;
        }

    .jssort11 .tp {    
        position: absolute;    
        top: 0;    
        left: 0;    
        width: 100%;    
        height: 100%;    
        border: none;
    }

    .jssort11 .i, .jssort11 .pav:hover .i {    
        position: absolute;    
        top: 3px;    
        left: 3px;    
        width: 60px;    

        height: 30px;    
        border: white 1px 
        dashed;
    }

    * html .jssort11 .i {    
        width /**/: 62px;    
        height /**/: 32px;
    }

    .jssort11 .pav .i {    
        border: white 1px 
        solid;
    }
    .jssort11 .t, .jssort11 .pav:hover .t {    
        position: absolute;    
        top: 3px;    
        left: 68px;   
        width: 129px;    
        height: 32px;    
        line-height: 32px;    
        text-align: center;   
        color: #fff;    
        font-size: 16px;  

  
        font-weight: 700;}

    .jssort11 .pav .t, .jssort11 .p:hover .t {    
        color: #fff;
    }
    .jssort11 .c, .jssort11 .pav:hover .c {    
        position: absolute;    
        top: 38px;    
        left: 3px;    
        width: 194px;   
        height: 32px;    
        line-height: 32px;    
        color: #fff;    
        font-size: 14px;    
        font-weight: 400;    


        overflow: hidden;
    }

    .jssort11 .pav .c, .jssort11 .p:hover .c {    
        color: #f3f3f3;
        font-size: 16px;
    }
    .jssort11 .t, .jssort11 .c {    
        transition: color 2s;    
        -moz-transition: color 2s;    
        -webkit-transition: color 2s;    
        -o-transition: color 2s;

    }.jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {    
        transition: none;    
        -moz-transition: none;    
        -webkit-transition: none;    
        -o-transition: none;
    }
    .jssort11 .p:hover, .jssort11 .pav:hover {    
        background: #333;
        background-color:#3498DB;
    }
    .jssort11 .pav, .jssort11 .p.pdn {    
        background: #009933;
    }
    
    .menu_derecho{
        position: relative; 
        margin: 0 auto; 
        top: 0px; 
        left: 0px; 
        width: 810px; 
        height: 300px; 
        overflow: hidden; 
        visibility: hidden; 
        background-color: #000066;
    }