@page {
    size: letter;
}
table {
    margin-top: 25px;
    width:100%;
}

th {
    background: #30C2F2;
    color: #FFF;
    padding: 10px;
}
tr {
    background: #EEE;
    color: #333;
}
td {
    padding: 30px 10px;
}

img {
    position: relative;
    left: 75%;
    width: 25%;
    height: auto;
    margin-bottom:50px;

}

.center {
    text-align:center;
}

.oculto{
    display:none
    
}
    
}